body{
    background-color: aqua;
}


.container{
    background-image: url(USR\ logo_完稿-01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 400px;
    height: 400px;
}
.a{
    position: fixed center;
}
#image_1{
     background-image: url(1877501.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     width: 400px;
     height: 400px;
}